fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]
bcrypt>=4.0
python-multipart
email-validator
langchain
langchain-core
langgraph
langchain-google-genai
langchain-groq
langchain-text-splitters
pdfplumber
chromadb
sentence-transformers
scikit-learn
numpy
groq
pypdf
